/* dodani css */
html {
  margin: 0;
  padding: 0;
  background-color: rgb(211, 211, 211);
}

.app-container {
  margin-top: 100px;
  padding: 10px 10px;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.color-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-container {
  width: 40%;
}
